<section>
  <div class="marquee">
    <div class="geek1">
      <p>FREE SHIPPING & RETURNS OVER $50NEW ARRIVALS</p>
      <p>FREE SHIPPING & RETURNS OVER $50NEW ARRIVALS</p>
      <p>FREE SHIPPING & RETURNS OVER $50NEW ARRIVALS</p>
      <p>FREE SHIPPING & RETURNS OVER $50NEW ARRIVALS</p>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Marquee",
  "settings": [],

 "presets":[
    {
      "name": "Marquee Section"
    }
  ]
}
{% endschema %}
