<section>
  <div class="ourstorypage">
    <div class="container">
      <div class="ourstory-row">
        <div class="creamecloth1">
          <img
            src="https://cdn.shopify.com/s/files/1/0853/5516/8036/files/Img_1_c02d890a-cfad-4633-9875-96326764148e.png?v=1705660061"
            alt=""
            height=""
            width=""
          >
        </div>

        <div class="founded">
          <h3>Founded in 2019</h3>
          <p>
            Falconette is a fake brand meant to demonstrate the Spark Shopify theme. This page demonstrates how you can
            use its About page template.
          </p>
          <div class="Explor"><a href="/pages/" class="btnn1">Exlpore More</a></div>
        </div>
      </div>
      <div class="feature">
        <p>AS FEATURED IN</p>
        <div class="logo-list">
          <ul>
            <li>
              <img
                src="https://cdn.shopify.com/s/files/1/0853/5516/8036/files/Screenshot_2024-04-12_110152-removebg-preview.png?v=1712901046"
                alt=""
                height=""
                width=""
              >
            </li>
            <li>
              <img
                src="https://cdn.shopify.com/s/files/1/0853/5516/8036/files/Screenshot_2024-04-12_110106-removebg-preview.png?v=1712901046"
                alt=""
                height=""
                width=""
              >
            </li>
            <li>
              <img
                src="https://cdn.shopify.com/s/files/1/0853/5516/8036/files/Screenshot_2024-04-12_110243-removebg-preview.png?v=1712901046"
                alt=""
                height=""
                width=""
              >
            </li>
            <li>
              <img
                src="https://cdn.shopify.com/s/files/1/0853/5516/8036/files/Screenshot_2024-04-12_110325-removebg-preview.png?v=1712901046"
                alt=""
                height=""
                width=""
              >
            </li>
            <li>
              <img
                src="https://cdn.shopify.com/s/files/1/0853/5516/8036/files/Screenshot_2024-04-12_110425-removebg-preview.png?v=1712901045"
                alt=""
                height=""
                width=""
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="ourstorypage1">
    <div class="container">
      <div class="value">
        <h3>Our Values</h3>
        <p>
          Our values inform everything that we do. From our founding we knew that we had to do everything a little bit
          differently if were to live up to our own standards.
        </p>
      </div>
      <div class="ourstory-row1">
        <div class="founded1">
          <h3>Sustainability</h3>
          <p>Every piece is sustainably made: from the labour that we use to the materials.</p>
        </div>
        <div class="creamecloth2">
          <div class="clothimg">
            <img
              src="https://cdn.shopify.com/s/files/1/0853/5516/8036/files/pexels-herman-io-35843091111111111111.jpg?v=1712903817"
              alt=""
              height=""
              width=""
            >
          </div>
        </div>
      </div>
      <div class="ourstory-row2">
        <div class="creamecloth3">
          <div class="clothimg">
            <img
              src="https://cdn.shopify.com/s/files/1/0853/5516/8036/files/pexels-monstera-production-7691068111111111111111.jpg?v=1712903817"
              alt=""
              height=""
              width=""
            >
          </div>
        </div>

        <div class="founded2">
          <h3>Transparency</h3>
          <p>We're transparent about costs and work with our customers to deliver exceptional value.</p>
        </div>
      </div>
      <div class="ourstory-row3">
        <div class="founded3">
          <h3>Fairness</h3>
          <p>We treat all of our stakeholders with an enduring sense of fairness and integrity.</p>
        </div>
        <div class="creamecloth4">
          <div class="clothimg">
            <img
              src="https://cdn.shopify.com/s/files/1/0853/5516/8036/files/pexels-dziana-hasanbekava-5480690.jpg?v=1712902449"
              alt=""
              height=""
              width=""
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="ourstorypage2">
    <div class="container">
      <div class="quote">
        <h4>
          "Absolutely unparalleled products and service. I'm confident that Falconette will be the next big thing in its
          industry, and that its products will be timeless."
        </h4>
        <p>— The New York Times</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="service">
    <div class="container">
      <ul>
        <li>
          <svg width="76" height="76" viewBox="0 0 76 76" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M27.3555 23.4508C23.0205 24.4566 21.3622 26.9915 19.2832 30.4805H27.3555V23.4508ZM52.6896 30.7734C51.8408 30.7734 51.2248 31.1831 51.2248 32.1406C51.2248 32.9482 51.8782 33.6032 52.6854 33.6055H61.5352C62.3442 33.6055 63 34.2616 63 35.0703C63 35.8794 62.3442 36.5352 61.5352 36.5352H48.3516C47.5349 36.5352 46.881 37.1904 46.881 38C46.881 38.8091 47.5367 39.4648 48.3458 39.4648H61.5352C62.3442 39.4648 63 40.1206 63 40.9297C63 41.7388 62.3442 42.3945 61.5352 42.3945H58.3125V46.7891C58.3125 47.5981 57.6567 48.2539 56.8477 48.2539H53.9031C53.3782 50.8396 51.0936 52.7461 48.4004 52.7461C45.7072 52.7461 43.4226 50.8396 42.8977 48.2539H28.0242C27.4993 50.8396 25.2146 52.7461 22.5215 52.7461C19.8283 52.7461 17.5437 50.8396 17.0188 48.2539H14.4648C13.6558 48.2539 13 47.5981 13 46.7891V38C13 33.702 17.5334 33.4166 17.5376 33.4102H28.8203C29.6294 33.4102 30.2852 32.7544 30.2852 31.9453V23.1562H56.8477C57.6567 23.1562 58.3125 23.812 58.3125 24.6211V27.8438H60.0703C60.8794 27.8438 61.5352 28.4995 61.5352 29.3086C61.5352 30.1177 60.8794 30.7734 60.0703 30.7734H52.6896ZM20.6226 45.2319C19.5738 46.2806 19.5738 47.9815 20.6226 49.0302C22.3094 50.7171 25.207 49.517 25.207 47.1309C25.207 44.7451 22.3094 43.545 20.6226 45.2319ZM46.5015 45.2319C45.4527 46.2806 45.4527 47.9815 46.5015 49.0302C48.1883 50.7171 51.0859 49.517 51.0859 47.1309C51.0859 44.7451 48.1883 43.545 46.5015 45.2319Z" fill="black"/>
            <circle cx="38" cy="38" r="37.5" stroke="black"/>
          </svg>

          <h2>Free Shipping</h2>
          <P>Delivery Charges Are Not Hidden Charges Shipping Policy.</P>
        </li>
        <li>
          <svg width="76" height="76" viewBox="0 0 76 76" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M43.0449 59.6799C43.0449 57.8463 41.6439 56.3597 39.9158 56.3597H36.0842C35.2543 56.3597 34.4584 56.7095 33.8716 57.3322C33.2847 57.9548 32.9551 58.7993 32.9551 59.6799C32.9551 61.5135 34.3561 63 36.0842 63H39.9158C41.6439 63 43.0449 61.5135 43.0449 59.6799ZM19.5782 51.1186C20.1009 51.161 20.7332 51.1854 21.3684 51.1459C21.7665 53.2878 22.853 55.2166 24.4424 56.6029C26.0318 57.9893 28.0255 58.7472 30.083 58.7473H31.277C31.1709 59.3639 31.1706 59.9957 31.2762 60.6124H30.083C27.5544 60.6124 25.1085 59.657 23.1836 57.9173C21.2586 56.1776 19.9805 53.7674 19.5782 51.1186ZM18.6841 49.1341C17.0949 48.8498 15.652 47.9773 14.6115 46.6715C13.5709 45.3657 13 43.711 13 42.001L13 37.5928C13 35.6743 13.7183 33.8344 14.9968 32.4778C16.2753 31.1212 18.0094 30.359 19.8175 30.359H20.2713C20.9967 20.6442 28.657 13 38 13C47.343 13 55.0033 20.6442 55.7287 30.359H56.1825C57.9906 30.359 59.7247 31.1212 61.0032 32.4778C62.2817 33.8344 63 35.6743 63 37.5928V42.001C63 43.9195 62.2817 45.7594 61.0032 47.116C59.7247 48.4726 57.9906 49.2347 56.1825 49.2348H54.1707C53.3363 49.2348 52.66 48.517 52.66 47.6318V31.8707C52.66 23.2799 46.0965 16.3158 38 16.3158C29.9035 16.3158 23.34 23.2799 23.34 31.8707V47.6318C23.34 48.2568 23.0028 48.7984 22.5108 49.0628C21.1565 49.5614 19.0563 49.2007 18.6841 49.1341Z" fill="black"/>
            <circle cx="38" cy="38" r="37.5" stroke="black"/>
          </svg>
          <h2>24/7 SUPPORT</h2>
          <P>Offers A Wide Range Of Services! Look No Further.</P>
        </li>
        <li>
          <svg width="76" height="76" viewBox="0 0 76 76" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M35.5726 40.3036H21.4877C20.3716 40.3036 19.4585 41.1807 19.4585 42.2529V56.8844C19.4585 57.9565 20.3716 58.8337 21.4877 58.8337H35.8095C36.2868 58.8337 36.2868 58.341 36.2868 58.341V40.966C36.2867 40.966 36.2867 40.3036 35.5726 40.3036ZM54.5131 40.3036H40.4425C39.5855 40.3036 39.7138 41.161 39.7138 41.161V58.3569C39.7138 58.3569 39.7069 58.8332 40.2224 58.8332H54.5128C55.6289 58.8332 56.542 57.9561 56.542 56.8839V42.2529C56.5423 41.1807 55.6292 40.3036 54.5131 40.3036ZM36.2867 28.7912C36.2867 28.7912 36.2867 28.1307 35.6072 28.1307H19.1962C18.0802 28.1307 17.167 29.008 17.167 30.08V36.1651C17.167 37.2372 18.0802 38.1144 19.1962 38.1144H35.6628C36.2867 38.1144 36.2867 37.5946 36.2867 37.5946V28.7912ZM56.8045 28.1307H40.3411C39.7141 28.1307 39.7141 28.7046 39.7141 28.7046V37.6066C39.7141 37.6066 39.7141 38.1144 40.4764 38.1144H56.8045C57.9205 38.1144 58.8337 37.2372 58.8337 36.1651V30.08C58.8337 29.008 57.9205 28.1307 56.8045 28.1307ZM29.3849 26.6884C28.4565 26.6884 27.6085 26.6177 26.8649 26.4781C24.9762 26.1236 23.678 25.4336 22.8962 24.369C22.1958 23.4148 21.9814 22.2386 22.2589 20.8727C22.745 18.483 24.4156 17.167 26.9625 17.167C27.5015 17.167 28.0934 17.2268 28.722 17.3448C30.321 17.6449 32.3662 18.5258 34.193 19.701C37.2924 21.6952 37.4457 22.9349 37.2914 23.6941C37.0645 24.8095 35.9792 25.6066 33.9735 26.1309C32.6184 26.4852 30.9459 26.6884 29.3849 26.6884ZM26.9626 20.2914C25.9763 20.2914 25.6373 20.5562 25.4512 21.4718C25.2989 22.2204 25.4909 22.4819 25.5539 22.5678C25.8176 22.9271 26.5046 23.2268 27.4885 23.4113C28.0194 23.511 28.6753 23.5637 29.3848 23.5637C30.9449 23.5637 32.3193 23.3366 33.2313 23.0882C33.2977 23.0702 33.4008 22.9947 33.2903 22.9315C32.098 21.9984 29.9167 20.7524 28.0985 20.4111C27.6749 20.3319 27.2926 20.2914 26.9626 20.2914ZM46.6627 26.6884H46.6624C45.1014 26.6884 43.4291 26.4852 42.074 26.1309C40.0682 25.6067 38.9831 24.8095 38.7561 23.6942C38.6019 22.9351 38.755 21.6953 41.8546 19.7012C43.6812 18.5259 45.7263 17.6451 47.3256 17.345C47.9542 17.2269 48.5462 17.1671 49.0847 17.1671C51.6323 17.1671 53.3027 18.4833 53.7883 20.873C54.0661 22.2387 53.8519 23.415 53.1513 24.3691C52.3695 25.4339 51.0715 26.1237 49.1823 26.4782C48.439 26.6175 47.591 26.6884 46.6627 26.6884ZM42.7832 22.9122C42.6775 22.9712 42.7287 23.0642 42.7835 23.0794C43.6951 23.3312 45.084 23.5638 46.6624 23.5638C47.3722 23.5638 48.0279 23.5111 48.5589 23.4114C49.5426 23.2268 50.2299 22.9273 50.4935 22.5679C50.5567 22.482 50.7489 22.2206 50.5962 21.4719C50.4102 20.5563 50.0711 20.2916 49.0846 20.2916C48.7548 20.2916 48.3728 20.3319 47.9489 20.4114C46.1305 20.7526 43.9755 21.979 42.7832 22.9122Z" fill="black"/>
            <circle cx="38" cy="38" r="37.5" stroke="black"/>
          </svg>
          <h2>Gifts And Voucher</h2>
          <P>All Gift Cards Expire 1 Year From Date Of Their Creation.</P>
        </li>
      </ul>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "OurStory Section",
  "settings": [],
  "presets":[
   {
     "name": "OurStory Section"
   }
 ]
}
{% endschema %}
