<section>
  <div class="look-row1">
    <div class="">
      <img
        src="https://cdn.shopify.com/s/files/1/0853/5516/8036/files/hannah-morgan-ycVFts5Ma4s-unsplash_5878dd87-78c2-442e-94c1-7c524033458c.jpg?v=1714311976"
        alt=""
        height=""
        width=""
      >
    </div>
    <div class="fall">
      <h2>Fall Collection</h2>
      <p>
        Drawing from a diverse collection of inspiration, our fall lookbook combines minimalist flair with sustainable
        fabrics.
      </p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="look-row2">
      <h2>Inspiration</h2>
      <p>
        Our fall lookbook is inspired by the transition of seasons. All imagery on this page is borrowed from St. Agni.
        This content is purely for demonstration purposes.
      </p>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="look-row4">
      <img
        src="https://cdn.shopify.com/s/files/1/0853/5516/8036/files/cat-han-Ks6wd1Zyf1o-unsplash.jpg?v=1713087959"
        alt=""
        height=""
        width=""
      >
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="look-row3">
      <div class="img1">
        <img
          src="https://cdn.shopify.com/s/files/1/0853/5516/8036/files/mohamadreza-khashay-ziubUDopHmc-unsplash.jpg?v=1714313338"
          alt=""
          height=""
          width=""
        >
      </div>

      <div class="img2">
        <img
          src="https://cdn.shopify.com/s/files/1/0853/5516/8036/files/alireza-dolati-OVS3rqXq9gg-unsplash_048040c1-52ae-4041-bc81-f0519799011e.jpg?v=1714313436"
          alt=""
          height=""
          width=""
        >
      </div>
    </div>
  </div>
</section>

<section>
  <div class="look-row5">
    <h2>Thanks for watching</h2>
    <p>
      Items from our fall lookbook will be in stock shortly. Stay tuned below for more updates. This page was purely for
      demonstration purposes with imagery provided by St. Angi.
    </p>
    <div class="Shpnoww"><a href="/pages/" class="btnn1">SHOP NOW</a></div>
  </div>
</section>

<section>
  <div class="look-row6">
    <div class="">
      <img
        src="https://cdn.shopify.com/s/files/1/0853/5516/8036/files/pexels-tima-miroshnichenko-7202784.jpg?v=1714314791"
        alt=""
        height=""
        width=""
      >
    </div>
    <div class="fall1">
      <h2>Welcome to Fall</h2>
      <p>Our new collection is ready for pre-order.</p>
    </div>
  </div>
</section>

{% schema %}
 {
   "name": "Section name",
   "settings": [],"presets":[
  {
    "name": "lookbook Section"
  }
]
 }
{% endschema %}
